.background{
  background-color: green;
  	border: 30px solid blue;
    border-width: 0px 30px;
}
.img {
  background-color: white;
  text-align: center;
  border: green;
}
.img img{
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px

}
.navigation li{
  display: inline-block;
  list-style: none;
  margin: 0px 60px;

  background-color: black;
  padding: 5px;
  color: white;
}
.navigation{
  background-color: black;
  margin-top: 0px;
  text-align: center;
}
.navigation ul{
  margin: 0px ;
  padding: 0px; /* <ul> = block*/
}
