/* line 4, ../sass/_header.scss */
.contant {
  background-color: #24671c;
  width: 80%;
  margin: 0 auto;
}
/* line 9, ../sass/_header.scss */
.contant .header {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  background-color: white;
}
/* line 14, ../sass/_header.scss */
.contant .header img {
  width: 60%;
  height: 70%;
}

@media screen and (max-width: 768px) {
  /* line 23, ../sass/_header.scss */
  .contant {
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  /* line 29, ../sass/_header.scss */
  .contant {
    width: 90%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  /* line 35, ../sass/_header.scss */
  .contant {
    width: 80%;
  }
}
@media screen and (min-width: 993px) {
  /* line 3, ../sass/_body.scss */
  body {
    background-image: url("../images/bg-body.jpg");
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  /* line 9, ../sass/_body.scss */
  body {
    background-image: url("../images/bg-body.jpg");
  }
}
/* line 1, ../sass/_navbar.scss */
.text5 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

/* line 6, ../sass/_navbar.scss */
.navbar {
  margin-bottom: 0 !important;
}

/* line 9, ../sass/_navbar.scss */
.text3 {
  margin: 0 auto;
  text-align: center;
}

/* line 17, ../sass/_navbar.scss */
.text4 {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

/* line 1, ../sass/_carousel.scss */
.carousel {
  width: 80%;
  margin: 0 auto;
}
/* line 4, ../sass/_carousel.scss */
.carousel img {
  position: relative;
  width: 100%;
}
/* line 8, ../sass/_carousel.scss */
.carousel .sentence {
  position: absolute;
  top: 80%;
  background: rgba(255, 255, 255, 0.5) none repeat scroll 0px 0px;
  width: 100%;
  height: 20%;
}

@media screen and (max-width: 768px) {
  /* line 20, ../sass/_carousel.scss */
  .sentence h4 {
    font-size: 80%;
  }
  /* line 23, ../sass/_carousel.scss */
  .sentence p {
    font-size: 77%;
  }
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  /* line 31, ../sass/_carousel.scss */
  .sentence h4 {
    font-size: 90%;
  }
  /* line 34, ../sass/_carousel.scss */
  .sentence p {
    font-size: 83%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1200px) {
  /* line 42, ../sass/_carousel.scss */
  .sentence h4 {
    font-size: 100%;
  }
  /* line 45, ../sass/_carousel.scss */
  .sentence p {
    font-size: 95%;
  }
}
@media screen and (max-width: 600px) {
  /* line 54, ../sass/_carousel.scss */
  .sentence {
    height: 32% !important;
    top: 68% !important;
  }
}
/* line 1, ../sass/_owl-style.scss */
.owl-width {
  width: 80% !important;
  margin: 0 auto;
}
/* line 6, ../sass/_owl-style.scss */
.owl-width .item img {
  width: 40%;
  height: 50%;
  display: inline-block;
  margin-bottom: 64px;
}
/* line 12, ../sass/_owl-style.scss */
.owl-width .item .jpg-sentence {
  display: inline-block;
  width: 55%;
}

/* line 1, ../sass/_enviroment.scss */
.clear {
  clear: both;
}

/* line 5, ../sass/_enviroment.scss */
.environment {
  background-color: #fff;
  width: 82%;
  margin: 0 auto;
}
/* line 11, ../sass/_enviroment.scss */
.environment .active .garden h2 {
  background-color: #d8e9d3;
  width: 80%;
  margin: 0 auto;
}
/* line 16, ../sass/_enviroment.scss */
.environment .active .garden .garden-content {
  width: 80%;
  margin: 0 auto;
}
/* line 19, ../sass/_enviroment.scss */
.environment .active .garden .garden-content .oldman {
  display: inline-block;
  width: 24%;
  height: 40%;
}
/* line 23, ../sass/_enviroment.scss */
.environment .active .garden .garden-content .oldman img {
  width: 86%;
}
/* line 29, ../sass/_enviroment.scss */
.environment .active hr {
  height: 2px;
  width: 82%;
}
/* line 33, ../sass/_enviroment.scss */
.environment .active .Contact-Information {
  width: 95%;
  margin: 0 auto;
}
/* line 38, ../sass/_enviroment.scss */
.environment .active .Contact-Information .tips .tips-images {
  float: left;
  width: 50%;
}
/* line 43, ../sass/_enviroment.scss */
.environment .active .Contact-Information .tips .tips-images img {
  width: 80%;
}
/* line 48, ../sass/_enviroment.scss */
.environment .active .Contact-Information .tips .tip-sentence {
  float: left;
  width: 50%;
}
/* line 53, ../sass/_enviroment.scss */
.environment .active .Contact-Information .tips .tip-sentence h4 {
  background-color: #D8E8D3;
}
@media screen and (max-width: 1115px) {
  /* line 57, ../sass/_enviroment.scss */
  .environment .active .Contact-Information .tips .tip-sentence .sentence-3 {
    display: none !important;
  }
}
@media screen and (max-width: 635px) {
  /* line 63, ../sass/_enviroment.scss */
  .environment .active .Contact-Information .tips .tip-sentence .sentence-2 {
    display: none !important;
  }
}
/* line 69, ../sass/_enviroment.scss */
.environment .active .Contact-Information .tips .clear {
  clear: both;
}

@media screen and (min-width: 13000px) {
  /* line 85, ../sass/_enviroment.scss */
  .Contact-Information .tips .tips-images {
    display: inline-block;
    width: 50%;
  }
  /* line 90, ../sass/_enviroment.scss */
  .Contact-Information .tips .tips-images img {
    width: 50%;
  }
  /* line 94, ../sass/_enviroment.scss */
  .Contact-Information .tips .tip-sentence {
    height: 20%;
    width: 50%;
    display: inline-block;
  }
  /* line 95, ../sass/_enviroment.scss */
  .Contact-Information .tips .tip-sentence h4 {
    background-color: #D8E8D3;
  }
}
/* line 1, ../sass/_place-holder.scss */
.place-holder {
  background-color: #D8E8D3;
  width: 82%;
  margin: 0 auto;
}
/* line 6, ../sass/_place-holder.scss */
.place-holder .place {
  float: left;
  width: 25%;
  text-align: center;
}
@media screen and (max-width: 950px) {
  /* line 14, ../sass/_place-holder.scss */
  .place-holder .place {
    float: left;
    width: 90%;
    text-align: center;
    margin: 0 5% !important;
  }
  /* line 20, ../sass/_place-holder.scss */
  .place-holder .line {
    border-style: groove;
    border-width: 0 0 5px 0 !important;
  }
}
/* line 25, ../sass/_place-holder.scss */
.place-holder .line {
  border-style: groove;
  border-width: 0 5px 0 0;
}
/* line 29, ../sass/_place-holder.scss */
.place-holder .clear {
  clear: both;
}

/* line 1, ../sass/_footer.scss */
.footer {
  text-align: center;
}
/* line 3, ../sass/_footer.scss */
.footer p {
  width: 50%;
  margin: 0 auto;
}
