.clear{
  clear: both;
}

.environment {
  background-color: #fff;
  width: 82%;
  margin: 0 auto;
  .active {
    .garden {
      h2 {
        background-color: #d8e9d3;
        width: 80%;
        margin: 0 auto;
      }
      .garden-content {
        width: 80%;
        margin: 0 auto;
        .oldman {
          display: inline-block;
          width: 24%;
          height: 40%;
          img {
            width: 86%;
          }
        }
      }
    }
    hr {
      height: 2px;
      width: 82%;
    }
    .Contact-Information {
      width: 95%;
      margin: 0 auto;
      .tips {

        .tips-images{

          float: left;
          width: 50%;

          img{
            width: 80%;
          }

        }
        .tip-sentence{

          float: left;

          width: 50%;
          h4{
            background-color: #D8E8D3;
          }
          @media screen and (max-width: 1115px){
            .sentence-3{
              display: none !important;
            }
          }

          @media screen and (max-width: 635px){
            .sentence-2{
              display: none !important;
            }
          }

        }
        .clear{
          clear: both;
        }
      }

    }
  }
}



@media screen and (min-width:13000px)
{
  .Contact-Information {
    .tips {

      .tips-images{

        display: inline-block;
        width: 50%;

        img{
          width: 50%;
        }
      }
      .tip-sentence{
        h4{
          background-color: #D8E8D3;
        }
        height: 20%;
        width: 50%;
        display: inline-block;
      }
    }

  }

}
