.text5{
  width: 80%;
  margin: 0 auto ;
  text-align: center;


}
.navbar{
 margin-bottom: 0px !important;
}

.text3{
  width: 85%;
  margin: 0 auto ;
  text-align: center;
  li{
    padding: 0 0.8%;
  }

}

  .text4{
    width: 80%;
    margin: 0 auto ;
    display: flex;
    justify-content:center;


  }
