.text5 {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.navbar {
  margin-bottom: 0 !important;
}
.text3 {

  margin: 0 auto;
  text-align: center;
  li {

  }
}
.text4 {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
